<div class="container">
<div class="row">
    <div class="col-sm mx-6 mt-3">

        <mat-card>
        <p>injactable works!</p>
        <p class="mx-4 mt-4" style="font-size: 20px;font-weight: 800;color: orange;">{{_count.counter}}</p>
        <button  mat-icon-button class="btn btn-success" (click)="Increes()"><mat-icon>control_point</mat-icon></button>
        &nbsp;
        <button  mat-icon-button class="btn btn-success" (click)="Dcrees()" ><mat-icon>remove_circle_outline</mat-icon></button>
        </mat-card>

        <mat-card>
            <button  type="submit" [disabled]="butnToggle" class="btn btn-success" (click)="onToggle()">Toggle</button>
        
            <p>Book status : {{bookstatus}}</p>
            <mat-form-field appearance="outline">
                <input matInput  [(ngModel)]="bookstatus">
                </mat-form-field>
           </mat-card>

        </div>
        
        <div class="col-sm mx-2 mt-4">
      
<!-- <app-localstorage-sessionstorage></app-localstorage-sessionstorage> -->
        
        </div>
</div>

</div>



