.bg{
   background-image:-webkit-linear-gradient(top, rgb(255 255 255 / 18%) 0%, rgb(255 255 255 / 87%) 59%, rgb(0 0 0 / 5%) 100%),  url('https://www.ispor.org/images/default-source/news/covid-big-but-smaller-v5.png?sfvrsn=93527de4_0');
    color: #fff;
    padding: 20px;
    background-size: 100%;
}
/* .bgselect{
    background: rgb(255, 255, 255);
} */
.mat-form-field-wrapper {
    padding-bottom: 0!important;
}
h3{
    text-transform: uppercase;
    font-size: 30px;
    color: floralwhite;
    font-weight: 500;
    
}
h4{
    text-align: center;
    font-size: large;
    font-weight: 800;
    padding: 6px;
    color: #fff;
}
h1{
    text-align: center;
}
.c{
background: chocolate;
color: #fff;
}
.d{
background: cornflowerblue;
color: rgb(255, 255, 255);
}
.cc{
background: violet;
color: white;
}
.rc{
background: yellowgreen;
color: white;
}
.dc{
background: turquoise;
color: white;
}
.sect>.mat-card{
    padding: 0px;
}
.sect>.mat-card h1{
    padding: 11px;
    background: rgb(255, 255, 255);
    color: rgb(121 118 118);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.sect>.mat-card h4{
    padding: 10px;
}
